{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/products.css">
<title>Noble paints | products</title>
{%endblock%}
{%block content%}
<header class="subpage">
    <div class="container2">
        <h1 class="text"><span class="text-bg-red">Products</span></h1>
    </div>
</header>
<section class="paintspart" id="productsCategories">
    <div class="container2">
        {% if categories %}
        <div class="lists">
            {% for category in categories %}
                {% set display_name = category.name if current_lang == 'en' else category.nameArabic or category.name %}
                {% set target_url = url_for_lang('productsSearch_page_filter_none', category=category.id, page=1) %}
                {% set image_src = category.img or '/static/images/default.png' %}
                <div class="col-lg-4 col-sm-6 col-xs-6 paintbox"
                     data-category-id="{{ category.id }}"
                     data-target-url="{{ target_url }}"
                     data-category-name-en="{{ category.name }}"
                     data-category-name-ar="{{ category.nameArabic or category.name }}">
                    <div class="imgbox">
                        <img src="{{ image_src }}" alt="{{ display_name }}" onerror="this.src='/static/images/default.png'">
                    </div>
                    <div class="details">
                        <div class="icon" aria-hidden="true">
                            <i class="fa-solid fa-layer-group"></i>
                        </div>
                        <h4>{{ display_name }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="lists">
            <div class="col-12 paintbox">
                <div class="details">
                    <h4>{{ 'No categories available yet.' if current_lang == 'en' else 'لا توجد فئات متاحة حالياً.' }}</h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<script src="/static/js/languages/products.js"></script>
<script src="/static/js/products.js"></script>
{%endblock%}
